<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dice Game</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <h1>Welcome to the Dice Game!</h1>
    <form action="" method="post">
        <big><%=locals.result %></big>
        <div>
            <img src=<%=locals.dice1 %> alt="" id="left">
            <img src=<%=locals.dice2 %> alt="">
        </div>
        <button type="submit">Roll</button>
    </form>
</body>
</html>